@import 'Variables';

button {
    padding: 10px 30px;
    font-weight: bold;
    color: $gray-500;
    border: 1px solid $gray-500;
    border-radius: $radius;
    background: transparent;
    font-size: $font-medium;
    transition: $transition;
    -o-transition: $transition;
    -moz-transition: $transition;
    -webkit-transition: $transition;

    &.default {
        border-radius: $radius;
        background: transparent;
        color: $gray-500;
        border: 1px solid $gray-500;
        
        &:focus,
        &:active,
        &:hover {
            color: $white;
            background: $gray-500;
            box-shadow: 0 0 5px 1px $gray-500;
        }
    }

    &.primary {
        border-radius: $radius;
        background: $primary;
        color: $white;
        
        &:focus,
        &:active,
        &:hover {
            color: $white;
            box-shadow: 0 0 5px 1px $gray-500;
        }
    }
    
    &.secondary {
        border-radius: $radius;
        background: $secondary;
        color: $white;
        
        &:focus,
        &:active,
        &:hover {
            color: $white;
            box-shadow: 0 0 5px 1px $gray-500;
        }
    }

    &.light {
        border-radius: $radius;
        background: transparentize($white, .8);
        color: $white;
        
        &:focus,
        &:active,
        &:hover {
            color: $primary;
            background: $white;
            box-shadow: none;
        }
    }
    
    &.icon {
        border-radius: $radius;
        justify-content: center;
        align-items: center;
        background: $secondary;
        display: flex;
        padding: 0;
        width: 40px;
        height: 40px;
        font-size: 1.3rem;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;

        &:focus,
        &:active,
        &:hover {
            box-shadow: 0px 0px 10px 0px $gray-500;
            transform: rotate(-180deg);
            -o-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            -moz-transform: rotate(-180deg);
            -webkit-transform: rotate(-180deg);
        }
    }

    &:only-child {
        flex: 1;
        margin: 0 20px;
        border-radius: $radius;
    }

    &:disabled {
        opacity: .5;
        cursor: no-drop;
    }
}

.btn-group {
    white-space: nowrap;

    > a,
    button {
        color: $gray-500;
        border: 1px solid $gray-500;
        border-radius: 0;
        flex: 1;

        &.primary {
            background: transparentize($primary, .2);
            border: 1px solid transparentize($primary, .2);
            color: $white;
        }

        &.secondary {
            border: 1px solid $gray-600;
            background: transparent;
            color: $gray-600;
        }

        &.primary-light {
            border: 1px solid $white;
            background: transparentize($white, .9);
            color: $white;
        }

        &.secundary-light {
            border: 1px solid $white;
            background: transparent;
            color: $white;
        }

        &:first-child {
            border-right: 0;
            border-radius: $radius 0 0 $radius;
        }
        
        &:last-child {
            border-left: 0;
            border-radius: 0 $radius $radius 0;
        }

        &:focus,
        &:active,
        &:hover {
            background: $primary;
            color: $white;
            border-color: $primary;
            box-shadow: none;
            
            +button {
                border-color: $gray-600;
                background: transparent;
                color: $gray-600;
            }            
        }
    }
}

