@import 'Variables';

.content {
    margin: -100px auto 30px;
    position: relative;
    background: $white;
    width: 100%;
    overflow: hidden;
    box-shadow: $shadow;
    border-radius: $radius;

    .content-head {
        min-height: 100px;
        width: 100%;
        padding: 15px;
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        border-bottom: 1px groove transparentize($white, .65);

        h1 {
            color: $font-color;
            font-weight: 100;
            margin: 0;

        }

        span {
            font-weight: normal;
            margin: 0;
        }
    }

    .content-body {
        width: 100%;
        padding: 15px;
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        
        h1 {
            color: $font-color;
        }

        &.no-padding {
            padding: 0;
        }
    }
    
    .content-footer {
        width: 100%;
        padding: 15px;
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
        border-top: 1px groove transparentize($white, .65);
    }
}
