@import 'Variables';

div,
form {

    & .description {
        border-bottom: 1px groove $white;
        display: block;
        padding: 15px;
        margin-bottom: 15px;
        font-size: small;
        text-transform: lowercase;
        letter-spacing: 1px;
    }

    &.field-group {
        margin-bottom: 1rem;
        flex: 0 0 100%;
        max-width: 100%;
        display: block;

        > div {
            margin-left: 15px;
            margin-right: 15px;

            >label {
                display: block;
                font-size: .735rem;
                letter-spacing: 1px;
                margin-bottom: .5rem;
            }

            &:not(:only-child) {
                flex: 0 0 50%;
                max-width: 50%;
                display: inline-block;
            }
        }



    }

    >.error {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 10px auto;

        span {
            text-transform: uppercase;
            letter-spacing: .04rem;
            font-size: $font-small;
            font-weight: bold;
            text-align: center;
            color: $secondary;
        }
    }

    textarea,
    input {
        width: 100%;
        color: $font-color;
        font-size: $font-medium;
        line-height: normal;
        text-align: left;
        display: inline-block;
        border-radius: $radius;
        background: transparent;
        border: 1px solid $font-color;
        box-sizing: border-box;
        overflow-y: hidden;
        resize: none;
        padding: 5px 15px;
        transition: $transition;
        -o-transition: $transition;
        -moz-transition: $transition;
        -webkit-transition: $transition;

        &:focus,
        &:active,
        &:hover {
            box-shadow: 0px 0px 10px 0px transparentize($primary, .6);
            border-color: $primary;
        }

        &.line {
            border: none;
            border-radius: 0;
            border-bottom: 1px solid $gray-400;

            &:focus,
            &:active,
            &:hover {
                border-bottom: 1px solid $primary;
            }
        }
    }
}
