@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');
@import 'bootstrap/scss/bootstrap.scss';
@import 'ant-custom';
@import 'Variables';

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-family;
	color: $font-color;
	background: $gray-200;

	.container,
	.container-fluid {
		img,
		button,
		input,
		textarea,
		select {
			outline-offset: none;
			outline: none;
		}

		a {
			text-decoration: none;
		}

		b {
			font-weight: bold;
		}

		.text-nowrap {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}
